.category-content {
    position: relative;
    text-align: center;
    color: #1E2019;;

}

.categories-list {
    list-style-type: none;
}



.category:hover {
    background-color: #5E8B90;
}


.category {
    margin: 2%;
    cursor: pointer;
}


.category-popup {
    background-color: #587B7F;

    position:static;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 75%;
}
