*{
    margin:0;
    padding:0;
    text-decoration: none;

}
.container{
    display:flex;
    position: absolute;
    

}
main{
    width: 100%;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: hidden;

}
.sidebar{
    background: #394032;
    color: #fff;
    height: 100vh;
    width: 200px;
    min-height: 800px;
    transition: all 0.5s;
    border-right: black;
    border-width: 0 1px 0 0;
    border-style: solid;

}
.top_section{
    display: flex;
    align-items:center;
    padding:20px 15px;
    
}

.logo{
    font-size: 30px;
}
.bars{
    display: flex;
    font-size: 25px;
    margin-left: 50px;
    cursor:pointer;
}
.link{
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.3s;
}
.link:hover{
    background:#CFEE9E;
    color: #000;
    transition: all 0.5s;
}
.active{
    background: #CFEE9E;
    color: #000;
}
.icon, .link_text{
    font-size: 20px;
}