.card-container {
    position: relative;
    background-color: #8DAB7F;
    top: 100px;
    height: 70vh;
    border-radius: 25px;
    width: 85vw;
    margin-left: 5%;
    margin-right: 5%;
    cursor: pointer;
    border-color: #394032;
    border-width: 10px;
    border-style: solid;
}

.card-content {
    position: relative;
    vertical-align: middle;
    text-align: center;
    top: 230px;
}

.count {
    position: relative;
    left: 46%;
    top: 190px;
}

.card-content-image {
    position: relative;
    text-align: center;
    top: 0px;
}


.image-box {
    position: relative;
    margin: 5%;
    width: 90%;
    height: 90%;
    border-radius: 20px;
    max-height: 500px;
}

.text-label {
    margin-top: -5%;
}

.count-image {
    position: relative;
    left: 46%;
    margin-top: -5%;
}
