.card-container {
    position: relative;
    background-color: #8DAB7F;
    top: 100px;
    height: 500px;
    border-radius: 25px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    cursor: pointer;
    border-color: #394032;
    border-width: 10px;
    border-style: solid;
}

.card-content {
    position: relative;
    vertical-align: middle;
    text-align: center;
    top: 230px;
}

.count {
    position: relative;
    left: 46%;
    top: 190px;
}

.image-box {
    position: relative;
    width: 90%;
    height: 100%;
}

