.cardview-container {
	position: relative;
	background-color: #1e2019;
	outline: none;
	margin-inline: 0px;
	min-width: 50vw;
	width: 100vw;
	min-height: 800px;
	max-width: 100vw;
	height: 100vh;
	z-index: 0;
	left: 0px;
	top: 0px;
	transition: all 0.3s;
	color: white;
	text-align: center;
}

.add-button {
	background-color: orange;
	padding: 2px;
	border: none;
	opacity: 0.6;
}

.add-button:hover {
	background-color: cyan;
	opacity: 1;
}

.category-button {
	position: absolute;
	left: 70%;
}

.options-container {
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	height: 100px;
}

#next-button {
	position: relative;
	left: 40vw;
	top: 30px;
}

#next-button:hover {
	color: gainsboro;
}


#prev-button {
	position: relative;
	left: -42vw;
	top: 30px;
	cursor: pointer;
}

#prev-button:hover {
	color: gainsboro;
}

#add-button {
	position: relative;
	width: 15vw;
	left: -20px;
	top: 20px;
	background-color: white;
	height: 50px;
	color: black;
	font-size: larger;
	border-radius: 15px;
}

#category-button {
	position: relative;
	width: 15vw;
	height: 50px;
	left: 30;
	top: 20px;
	background-color: white;
	color: black;
	font-size: larger;
	border-radius: 15px;

}

#category-button:hover {
	background-color: gray;
}

#add-button:hover {
	background-color: gray;
}

