.cardview-container {
	position: relative;
    background-color: #1E2019;
	outline: none;
	margin-inline: 0px;
	min-width: 700px;
	width: 1500px;
	min-height: 800px;
	max-width: 100vw;
	height: 100vh;
	z-index: 0;
	left: 0px;
	top: 0px;
	transition: all 0.3s;
	color: white;

	
}

.add-button {

	background-color: orange;
  	padding: 2px;
  	border: none;
  	opacity: 0.6;
  
}

.add-button:hover{
  background-color: cyan;
  opacity: 1;
}


.category-button {
	position: absolute;
	left: 70%;
}